@model IEnumerable<BrandBySoundex.Models.Brand>

@{
    ViewData["Title"] = "Indice";
}

<h1>Indice</h1>

<p>
    <a asp-action="Create">Crear nueva marca</a>
</p>

<form asp-controller="Brands" asp-action="Index" method="get">
    <p>
        Marca: <input type="text" name="SearchString" autocomplete="off" />

        @{    
            var listitems = new List<SelectListItem>();
            listitems.Add(new SelectListItem() { Text = ">= 0 - Incluye desde coicidencias Nulas", Value="0"});
            listitems.Add(new SelectListItem() { Text = ">= 1 - Incluye desde coicidencias bajas", Value="1"});
            listitems.Add(new SelectListItem() { Text = ">= 2 - Incluye desde coicidencias Medias", Value="2"});
            listitems.Add(new SelectListItem() { Text = ">= 3 - Incluye desde coicidencias Altas", Value="3", Selected = true});
            listitems.Add(new SelectListItem() { Text = "= 4 - Incluye coicidencias similares e identicas", Value="4"});
        }

        @Html.DropDownList("drop_strict_comparision", listitems)

        <input type="submit" value="Buscar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DifferenceSoundex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td class="text-center">
                @{
                    bool existsSearchString = (bool)ViewData["ExistsSearchString"];
                    var displayType = existsSearchString ? "" : "display:none";
                    <span style="@displayType">
                    @Html.DisplayFor(modelItem => item.DifferenceSoundex)
                    </span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
@*                <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
*@                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
